.product-card-container {
    width: 300px;
    height: 350px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* text-align: center; */
}

.product-image {
    width: 100%;
}

.product-card-info {
    margin: 10px;
}

.pc-info-item {
    padding-left: 10px;
    margin-bottom: 5px;
    margin-top: 0px;
}

.text-title {
    font-size: 16px;
    font-weight: 600;
}

.text-subtitle {
    font-size: 14px;
    font-weight: 200;
}