*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* nothing yet */
}

.terms-top-container {
    padding: 40px;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}

.terms-bottom-container {
    text-align: justify;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 20px;
    font-size: 0.9rem;
    font-weight: 200;
}

@media screen and (max-width: 480px) {
    .terms-bottom-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}
