*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* nothing yet */
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(57, 57, 57);
    border-radius: 10px;
}

.shop-container {
	margin: 20px;
	padding: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    max-height: 90vh;
}

.shop-top-container {
    height: 20vh;
    width: 100%;
}

.shop-bottom-container {
    height: 70vh;
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    overflow-y: scroll;
}

.search-box {
    display: flex;
	flex-direction: row;
    padding: 10px;
    margin: 60px;
}

.search-input {
    padding: 10px;
    margin:10px;
    outline: none;
    border:0;
    border-bottom:2px solid #000000;
    width: 300px;
    font-family:inherit;
    font-size: inherit;
}

.search-input:focus-visible, .search-input:focus-within, .search-input:focus, .search-input:hover {
    outline: none;
    border:0;
    border-bottom:2px solid #434343;
}

.search-button {
    padding: 10px;
    margin: 10px;
    margin:10px;
    background-color: white;
    border: none;
    color: black;
    padding: 0;
    cursor: pointer;
}

.search-button:hover {
    color: #434343;
}

.search-icon {
    font-size: 40px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    margin-top: 10%;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
from {bottom: -300px; opacity: 0} 
to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
from {bottom: -300px; opacity: 0}
to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
from {opacity: 0} 
to {opacity: 1}
}

@keyframes fadeIn {
from {opacity: 0} 
to {opacity: 1}
}


@media screen and (max-width: 480px) {

    .shop-container {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-height: 90vh;
    }

    .shop-top-container {
        height: 20vh;
        width: 100%;
    }

    .shop-bottom-container {
        height: 70vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        overflow-y: scroll;
    }

    .search-box {
        display: flex;
        flex-direction: row;
        padding: 10px;
        margin: 0px;
    }
}
