header {
    --nav-bar-height: 100px;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.none {
    display: none;
}

.banner {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../src/img/banner.gif');
    background-size: cover;
    background-position: center;
    opacity: 150%;
}

/* HEADER*/
header {
    position: relative;
    /* padding: 20px; */
}

/* NAVBAR */
.navbar {
    position: relative;
    z-index: 4;
    height: var(--nav-bar-height);
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    transition: background-color 0.4s ease-in-out, gap 2s ease-in-out;
}


a {
    font-weight: 500;
    font-size: 1.3rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin-top: 1.5rem;
    padding: 10px 15px;
    display: inline-block;
    transition: color 0.4s ease-in-out;
}

.scrolled {
    background-color: #fff;
    gap: 1.5rem;
}

.scrolledText {
    color: #000;
}

nav a:hover {
    color: rgba(100, 100, 100, 0.8);
}

.logo {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0%;
    color: #000;
    margin-top: -3.5rem;
    transition: visibility 2.5s ease-in-out, opacity 2s ease-in-out;
}

.scrolledLogo{
    visibility: visible;
    opacity: 100%;
}

.navbar-logo-number {
    padding-top: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.navbar-logo-lettering{
    margin-top: -1.4rem;
    font-size: .4rem;
}

.banner-text {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto ;
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.logo-number {
    font-size: 11rem;
    font-weight: 200;
    margin: 0 auto;
    letter-spacing: 0;
    transition: text-shadow 1s ease;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logo-lettering {
    margin-top: -28px;
    font-size: 3.2rem;
    text-align: center;
}

.banner-text h1:hover {
    text-shadow:  rgba(150, 150, 150, 0.8) -3px 0, rgba(0, 0, 0, 0.8) 3px 0;
}

.navbar-responsive {
    display: none;
}

.navbar-responsive-logo {

    transition: color 2s ease-in-out;
    margin-top: 0;
}

.menu-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* MODAL */

.modal {
    display: none; /* Hidden by default*/
    background-image: url('../../../src/img/gallery/imageMenu.jpg');
    background-size: cover;
    background-position: center;
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    justify-content: center;
    align-items: center;
}

.modal-menu {
    position: relative;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.close {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-top: 10rem;
}

.modal-logo {
    color: #fff;
    text-align: center;
}

.modal-logo-number {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.3rem;
    text-align: center;
}

.modal-logo-lettering {
    margin-top: -1.8rem;
    font-size: .7rem;
}

.open-menu {
    display: block;
}

.close-menu {
    display: none;
}

/* RESPONSIVE DESIGN*/

/* Media query for cellphones */
@media (max-width: 640px) {
    .logo-number {
        font-size: 5rem;
    }
    .logo-lettering {
        font-size: 1.5rem;
        margin-top: -15px;
    }
}

/* Media query for tablets */
@media (min-width: 641px) and (max-width: 1024px) {
    .logo-number {
        font-size: 7rem;
    }

    .logo-lettering {
        font-size: 2rem;
        margin-top: -15px;
    }
}


/* Media query for cellphones */
@media (max-width: 480px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #navbar_link_shop, #navbar_logo, #navbar_link_about{
        display: none;
    }

    .navbar-responsive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto 2rem;
        width: 100%;
    }
}
